flask==3.0.3
faker==30.8.1 # for gendummydb.py
bcrypt==4.2.0 # for password hashing
json-fix==0.5.1 # for JSONifing custom types
requests==2.26.0 # For testing
flask-cors==5.0.0 # Wrapper for controlling CORS
